.image-slider {
    margin-top: 3px;
    width: 100%;
    height: 97vh;
    overflow: hidden;
    position: relative;


}

.slider-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    transition: transform 1s ease-in-out;
}

.slide {

    width: 100%;
    /* Set the width of the slide */
    height: 90%;
    /* Set the height of the slide */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Horizontally center the slide */
    transition: opacity 1s ease-in-out, z-index 0s 1s;
    opacity: 0;
    z-index: 0;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slider-content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}




/*----------------------------------slider responsive---------------------------------------------------*/
@media screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }



}