/* Navbar styles */
.navbar {
    /*-----------------------------------chnages two lines ----------------------------------------------------------------------------------*/
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1500px;
    padding: 0 20px;
}

.logo-img {
    width: 120px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-links {
    color: #000;
    font-size: 15px;

    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s;
}

.nav-links:hover {
    color: #5C5C5C;
}

/* Responsive styles */
@media screen and (max-width: 960px) {


    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .menu-icon.close {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #000000;
        width: 100%;
    }

    .nav-item {
        margin: 10px;
    }

    .nav-links {
        color: #fff;
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: #5C5C5C;
    }

}


/* .small-navbar {
    background-color: #f1f1f1;
    display: flex;
    justify-content: flex-end;
  
    align-items: center;
    padding: 10px 20px;
}

.social-icons .icon {
    margin-right: 10px;
}

.social-icons .icon:last-child {
    margin-right: 0;
   
}

.phone-number {
    font-size: 1.2rem;
}  */

/* Small Navbar styles */
.small-navbar {
    background-color: #f1f1f1;
    /*#E8E8E8*/
    display: flex;
    justify-content: flex-end;
    /* Align items to the right corner */
    align-items: center;
    padding: 10px 20px;
}

.contact-info,
.social-icons {
    display: flex;
    align-items: center;
}

.phone-icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

.social-icons .icon {
    margin-right: 10px;
}

.social-icons .icon:last-child {
    margin-right: 0;
    /* Remove margin from the last icon to avoid extra spacing */
}

.small-navbar-container {
    display: flex;
    align-items: center;
}

.phone-number {
    margin-right: 15px;
}



.menu-icon {
    display: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Close Icon */
.menu-icon.close {
    display: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Mobile Menu */
.menu-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translate(-50%, 50%);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Close Icon */
.menu-icon.close {
    display: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Mobile Menu */
@media screen and (max-width: 960px) {


    .nav-menu {
        display: none;

    }

    .menu-icon {
        display: block;
        margin-top: 5px;
        color: #000;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .menu-icon.close {
        margin-top: 5px;
        display: block;
        color: #000;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;

        position: absolute;
        height: 90vh;
        top: 50px;
        /* Adjust the distance from the top as needed */
        right: 20px;
        /* Adjust the distance from the right as needed */
        background-color: #fff;
        /* Adjust the background color as needed */
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        /* Adjust the width as needed */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    .nav-item {
        margin: 10px;
    }

    .nav-links {
        color: #000;
        text-align: center;
        padding: 0.5rem 1rem;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        transition: color 0.3s;
    }

    .nav-links:hover {
        color: #5c5c5c;
    }


}


@media screen and (max-width: 1024px) {
    .nav-links {
        font-size: 13px;
    }

}



.social-color-href {
    text-decoration: none;
    color: #000;
}